@import '../../../styles.scss';

.question-detail {
	position: relative;
	overflow: visible;
	margin: 20px auto;
	padding: 0;
}

.card-header-divider {
	border-top-width: 2px;
}

.question-detail-content {
	padding: 20px 32px;
}

.answer-author {
	padding: 0 20px 10px 0;
	font-size: 1.2em;
	font-weight: 500;
}

.answer-divider {
	margin: 20px 0;
	background-color: $text-color-lighter;
}

.reply-textarea {
	width: 100%;
}
