<mat-card class="question-detail" fxFlex="80%" fxFlex.lt-sm="100%">
	<mat-card-header class="question-detail-header">
		<app-question [question]="question"></app-question>
	</mat-card-header>
	<mat-divider class="card-header-divider"></mat-divider>
	<mat-card-content class="question-detail-content">
		<div
			class="answer"
			*ngFor="let answer of answers$ | async; trackBy: trackByAnswerId">
			<app-title-group class="answer-title-group"
				avatar="university-triangle2.jpg"
				[name]="answer.author">
				<span class="answer-author title-group-header">{{ answer.author }}</span>
				<span class="answer-message title-group-subheader">{{ answer.message }}</span>
			</app-title-group>
		</div>
		<mat-form-field class="reply-textarea">
			<textarea matInput placeholder="Share your answer"></textarea>
		</mat-form-field>
	</mat-card-content>
</mat-card>
