@import '../../../styles.scss';

$primary: map-get($think-together-theme, primary);

.question-detail {
	position: relative;
	border-radius: 4px;
	padding: 0;
	overflow: visible;
}

.top-gap {
	margin: -50px auto;
}

.question-detail-header {
	background-color: mat-color($accent);
}

.question-detail-content {
	padding: 20px 32px;
}

.answer-author {
	padding: 0 20px 10px 0;
	font-size: 1.2em;
	font-weight: 500;
}

.answer-divider {
	margin: 20px 0;
	background-color: $text-color-lighter;
}

.reply-textarea {
	width: 100%;
}
