<div>
	<app-conversation-list>
		<mat-nav-list>
			<a mat-list-item class="question-link undecorated-link"
				href=""
				(click)="selectQuestion(question)"
				*ngFor="let question of questions$ | async; last as isLast; trackBy: trackByQuestionId">
				<app-question [question]="question">
					<mat-divider *ngIf="!isLast"></mat-divider>
				</app-question>
			</a>
		</mat-nav-list>
	</app-conversation-list>
	<span class="btn-fab-add-item ">
		<button mat-fab (click)="openAddQuestionDialog()">
			<mat-icon aria-label="Add Question Button" class="add-icon">add</mat-icon>
		</button>
	</span>
</div>
