<mat-card class="profile-settings" fxFlex="60%" fxFlex.lt-sm="100%">
	<mat-card-title>Update Profile</mat-card-title>
	<mat-card-content>
		<form [formGroup]="updateProfileForm">
			<mat-form-field class="profile-form-field">
				<mat-label>Name</mat-label>
				<input
					type="text"
					matInput
					placeholder="{{ currentUser.name }}"
					formControlName="name">
				<mat-icon matSuffix class="pointer">mode_edit</mat-icon>
			</mat-form-field>
			<mat-form-field class="profile-form-field">
				<mat-label>Email</mat-label>
				<input
					type="text"
					matInput
					placeholder="{{ currentUser.email }}"
					formControlName="email">
				<mat-icon matSuffix class="pointer">mode_edit</mat-icon>
			</mat-form-field>
			<div fxLayoutAlign="end">
				<button
					mat-raised-button
					class="btn-submit"
					color="accent"
					[disabled]="this.updateProfileForm.invalid">
					SAVE
				</button>
			</div>
		</form>

		<h3>Update Avatar</h3>
		<mat-list>
			<mat-list-item>
				<p class="avatar-label">Current Avatar:</p>
				<avatar
					[email]="currentUser.email"
					[name]="currentUser.name"
					[displayType]="'circle'"
					[size]="50">
				</avatar>
			</mat-list-item>
			<mat-list-item>
				<button
					mat-raised-button
					class="btn-submit"
					color="accent"
					(click)="fileInput.click()">
					SELECT IMAGE
				</button>
				<input
					hidden
					type="file"
					#fileInput
					accept="image/*"
					(change)="onFileChanged($event)">
			</mat-list-item>
			<mat-list-item *ngIf="avatarSource">
				<p class="avatar-label">Avatar Preview:</p>
				<img
					class="avatar-preview"
					*ngIf="avatarSource"
					[src]="avatarSource" />
			</mat-list-item>
			<mat-list-item *ngIf="avatarSource">
				<button
					mat-raised-button
					class="btn-submit"
					color="accent">
					SAVE NEW AVATAR
				</button>
			</mat-list-item>
		</mat-list>
	</mat-card-content>
</mat-card>
