.title-group {
	display: flex;
	align-items: center;

	.title-group-avatar {
		height: 50px;
		width: 50px;
		border-radius: 50%;
	}

	.title-group-content {
		display: flex;
		flex-direction: column;
		padding: 0 15px;
	}

	.group-header {
		font-size: 16px;
	}

	.group-subheader {
		font-size: 12px;
	}
}
