<mat-sidenav-container class="sidenav-container">
	<mat-sidenav #drawer
		class="sidenav"
		fixedInViewport="true"
		[attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
		[mode]="(isHandset$ | async) ? 'over' : 'side'"
		[opened]="!(isHandset$ | async)">

		<mat-toolbar class="elevated">Menu</mat-toolbar>
		<mat-nav-list>
			<a mat-list-item [routerLink]="['/questions']" routerLinkActive="active">
				Question/Answer
			</a>
			<a mat-list-item [routerLink]="['/friends']" routerLinkActive="active">
				Friends
			</a>
			<a mat-list-item href="#">Link 3</a>
		</mat-nav-list>
	</mat-sidenav>

	<mat-sidenav-content>
		<app-header (toggledDrawer)="drawer.toggle()"></app-header>
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>
