<div class="add-question-dialog">
	<h1 mat-dialog-title>Add Question</h1>
	<form [formGroup]="addQuestionForm" (ngSubmit)="save()">
		<div mat-dialog-content>
			<mat-form-field class="add-question-form-field">
				<input
					matInput
					placeholder="Enter your question"
					formControlName="question">
				<span matSuffix>?</span>
			</mat-form-field>
			<app-chips-autocomplete [allTags]="questionTags"></app-chips-autocomplete>
		</div>
		<div mat-dialog-actions fxLayoutAlign="end">
			<button mat-raised-button class="btn-cancel" (click)="cancel()">
				Cancel
			</button>
			<button
				mat-raised-button
				color="accent"
				class="btn-save"
				type="submit">
				Save
			</button>
		</div>
	</form>
</div>
