.question-info {
	.question-list-item {
		padding-top: 15px;
	}

	.author-avatar {
		height: 60px;
		width: 60px;
	}

	.question {
		padding: 0 50px 5px 0;
		font-weight: 500;
		font-size: 1.1em;
	}

	.question-author {
		padding-left: 10px;
	}

	.question-tags {
		padding: 5px 16px 20px;
	}
}
