@import '../../../../styles.scss';

.question-info {
	.question-list-item {
		padding-top: 15px;
	}

	.author-avatar {
		height: 60px;
		width: 60px;
	}

	.question {
		padding: 0 50px 0 0;
		font-weight: 500;
		font-size: 1.1em;
	}

	.question-author {
		padding-left: 10px;
		color: $text-color-lighter;
		font-style: italic;
	}

	.question-tags {
		padding: 10px 16px 20px 0;
	}
}
