<div class="question-info">
	<div class="question-list-item">
		<app-title-group
			avatar="university-triangle2.jpg"
			[name]="question.author"
			[email]="question.email">
			<span class="question title-group-header">{{ question.question }}?</span>
			<span class="question-author title-group-subheader">{{ question.author }}</span>
		</app-title-group>
	</div>

	<div class="question-tags">
		<mat-chip-list>
			<mat-chip *ngFor="let tag of question.tags">{{ tag }}</mat-chip>
		</mat-chip-list>
	</div>
	<ng-content></ng-content>
</div>
