<mat-toolbar color="primary" class="elevated">
	<button
		type="button"
		aria-label="Toggle sidenav"
		mat-icon-button
		(click)="toggleDrawer()"
		*ngIf="isHandset$ | async">

		<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
	</button>
	<span class="header-title">Think Together</span>
	<span class="spacer"></span>
	<mat-icon class="header-menu-icon" [matMenuTriggerFor]="headerMenu">more_vert</mat-icon>
	<mat-menu #headerMenu="matMenu">
		<button mat-menu-item (click)="logout()">Logout</button>
	</mat-menu>
</mat-toolbar>
