
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$think-together-primary: mat-palette($mat-indigo, 500, 100, 700);
$think-together-accent: mat-palette($mat-green, 500, 100, 700);

// The warn palette is optional (defaults to red).
$think-together-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$think-together-theme: mat-light-theme($think-together-primary, $think-together-accent, $think-together-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($think-together-theme);

$background: map-get($think-together-theme, background);
$foreground: map-get($think-together-theme, foreground);
$hover-background: mat-color($background, hover, .1);
$text-color: mat-color($foreground, text);
$text-color-lighter: mat-color($foreground, text, .6);

$accent: map-get($think-together-theme, accent);
$accent-hover-background: mat-color($accent, darker);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
	box-sizing: border-box;
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.elevated {
	@include mat-elevation(2);
}

.undecorated-link {
	text-decoration: none;
}

.spacer {
	flex: 1 1 auto;
}

.material-icons.add-icon { font-weight: 900; }

.btn-submit:hover {
	background-color: $accent-hover-background;
}

.btn-cancel:hover {
	background-color: $hover-background;
}
