<mat-card class="signup" fxFlex="50%" fxFlex.lt-sm="100%">
	<mat-card-title>Signup</mat-card-title>
	<form [formGroup]="signupForm" (ngSubmit)="signup()">
		<div mat-dialog-content>
			<mat-form-field class="signup-form-field">
				<input
					matInput
					placeholder="Enter your name"
					formControlName="name">
			</mat-form-field>
			<mat-form-field class="signup-form-field">
				<input
					matInput
					placeholder="Enter your email"
					formControlName="email">
			</mat-form-field>
			<mat-form-field class="signup-form-field">
				<input
					matInput
					placeholder="Enter your password"
					formControlName="password">
			</mat-form-field>
			<mat-form-field class="signup-form-field">
				<input
					matInput
					placeholder="Confirm your password"
					formControlName="confirmPassword">
			</mat-form-field>
		</div>
		<div mat-dialog-actions fxLayoutAlign="end">
			<button
				mat-raised-button
				class="btn-submit"
				color="accent">
				SIGNUP
			</button>
		</div>
	</form>
</mat-card>
