<mat-card class="signup" fxFlex="50%" fxFlex.lt-sm="100%">
	<mat-card-title>Sign up</mat-card-title>
	<form [formGroup]="signupForm" (ngSubmit)="signup()" novalidate>
		<mat-card-content>
			<mat-form-field class="signup-form-field">
				<input
					matInput
					placeholder="Enter your name"
					formControlName="name">
					<mat-error *ngFor="let validator of getValidators('name')">
						<mat-error *ngIf="hasError('name', validator.errorName)">
							{{ validator.message }}
						</mat-error>
					</mat-error>
			</mat-form-field>
			<mat-form-field class="signup-form-field">
				<input
					matInput
					placeholder="Enter your email"
					formControlName="email">
					<mat-error *ngFor="let validator of getValidators('email')">
						<mat-error *ngIf="hasError('email', validator.errorName)">
							{{ validator.message }}
						</mat-error>
					</mat-error>
			</mat-form-field>
			<mat-form-field class="signup-form-field">
				<input
					matInput
					placeholder="Enter your password"
					formControlName="password"
					[type]="showPassword ? 'text' : 'password'">
				<mat-icon
					matSuffix
					class="pointer"
					(click)="showPassword = !showPassword">
					{{ showPassword ? 'visibility' : 'visibility_off' }}
				</mat-icon>
				<mat-error *ngFor="let validator of getValidators('password')">
					<mat-error *ngIf="hasError('password', validator.errorName)">
						{{ validator.message }}
					</mat-error>
				</mat-error>
			</mat-form-field>
			<mat-form-field class="signup-form-field">
				<input
					matInput
					placeholder="Confirm your password"
					formControlName="confirmPassword"
					[type]="showConfirmPassword ? 'text' : 'password'">
				<mat-icon
					matSuffix
					class="pointer"
					(click)="showConfirmPassword = !showConfirmPassword">
					{{ showConfirmPassword ? 'visibility' : 'visibility_off' }}
				</mat-icon>
				<mat-error *ngFor="let validator of getValidators('confirmPassword')">
					<mat-error *ngIf="hasPasswordMatchError('confirmPassword', validator.errorName)">
						{{ validator.message }}
					</mat-error>
				</mat-error>
			</mat-form-field>
			<mat-error class="failed-signup-message" *ngIf="signupResponse">
				{{ signupResponse }}
			</mat-error>
		</mat-card-content>
		<div mat-card-actions fxLayoutAlign="end">
			<button
				mat-raised-button
				class="btn-submit"
				color="accent"
				[disabled]="this.signupForm.invalid">
				SIGNUP
			</button>
		</div>
	</form>
</mat-card>
